<!DOCTYPE html>
<html>
  <head>
    <title>WebpackerWorkshop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application' if Rails.env.production? %>
  </head>

  <body>
    <%= yield %>

    <%= javascript_pack_tag 'application' %>
  </body>
</html>
